<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../resource/style.css">
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans+Display' rel='stylesheet'>
    <script src="../script/main.js" type="module" defer></script>
    <title>Characters</title>
</head>
<body>
<!-- navigation -->
<div id="nav">
    <nav class="nav_bar">
        <div id="logo">
            <a href="index.html">
            <h1 id="logo_txt">Blue Archive</h1>
            </a>
        </div>

        <div class="navigation_option">
            <ul class="nav_links">
                <li><a href="./GameIntro.html">Game Intro</a></li>
                <li><a href="./characters.html">Characters</a></li>
                <li><a href="./media.html">Media</a></li>
            </ul>
        </div>
        <div class="icons">
            <div id="git">
                <a href="https://github.com/pandoradox214">
                    <h1 id="git_txt">Github</h1>
                </a>
            </div>
        </div>
    </nav>
</div>



<div class="container">
    <div class="content_header"></div>
    <div class="content_body"></div>
</div>
</body>
</html>